CONFIG_ARM=y
CONFIG_ARCH_SUNXI=y
CONFIG_SPL=y
CONFIG_MACH_SUN7I=y
CONFIG_DRAM_CLK=384
CONFIG_MMC0_CD_PIN="PH1"
CONFIG_I2C1_ENABLE=y
CONFIG_AHCI=n
CONFIG_NR_DRAM_BANKS=1
CONFIG_SYS_MALLOC_CLEAR_ON_INIT=y
CONFIG_SPL_I2C_SUPPORT=y
# CONFIG_CMD_FLASH is not set
# CONFIG_SPL_DOS_PARTITION is not set
CONFIG_DEFAULT_DEVICE_TREE="sun7i-a20-retrostone2"
CONFIG_SCSI_AHCI=n
CONFIG_ETH_DESIGNWARE=n
CONFIG_MII=n
CONFIG_SUN7I_GMAC=n
CONFIG_AXP_ALDO3_VOLT=2800
CONFIG_AXP_ALDO4_VOLT=2800
CONFIG_SCSI=n
CONFIG_USB=n
CONFIG_USB_EHCI_HCD=n
CONFIG_USB_OHCI_HCD=n
CONFIG_SYS_USB_EVENT_POLL_VIA_INT_QUEUE=n
CONFIG_VIDEO=n
CONFIG_DISABLE_CONSOLE=y
CONFIG_SILENT_CONSOLE=y
CONFIG_SYS_DEVICE_NULLDEV=y
