CONFIG_ARM=y
CONFIG_ARCH_SUNXI=y
CONFIG_SPL=y
CONFIG_MACH_SUN7I=y
CONFIG_DRAM_CLK=384
CONFIG_MMC0_CD_PIN="PH1"
CONFIG_I2C1_ENABLE=y
CONFIG_AHCI=n
CONFIG_NR_DRAM_BANKS=1
CONFIG_SYS_MALLOC_CLEAR_ON_INIT=y
CONFIG_SPL_I2C_SUPPORT=y
# CONFIG_CMD_FLASH is not set
# CONFIG_SPL_DOS_PARTITION is not set
CONFIG_DEFAULT_DEVICE_TREE="sun7i-a20-retrostone2"
CONFIG_SCSI_AHCI=n
CONFIG_ETH_DESIGNWARE=n
CONFIG_MII=n
CONFIG_SUN7I_GMAC=n
CONFIG_AXP_ALDO3_VOLT=2800
CONFIG_AXP_ALDO4_VOLT=2800
CONFIG_SCSI=n
CONFIG_USB=n
CONFIG_USB_EHCI_HCD=n
CONFIG_USB_OHCI_HCD=n
CONFIG_SYS_USB_EVENT_POLL_VIA_INT_QUEUE=n
CONFIG_VIDEO=n
CONFIG_DISABLE_CONSOLE=y
CONFIG_SILENT_CONSOLE=y
CONFIG_SYS_DEVICE_NULLDEV=y
CONFIG_BOOTDELAY=-2
CONFIG_SUNXI_DE2=y
CONFIG_FS_FAT=n
CONFIG_SHA1=n
CONFIG_SHA256=n
CONFIG_MD5=n
CONFIG_ZLIB=n
CONFIG_GZIP=n
CONFIG_LZ4=y
CONFIG_EFI_LOADER=n
CONFIG_EFI_GRUB_ARM32_WORKAROUND=n
CONFIG_VIDEO_HDMI=n
CONFIG_VIDEO_SUNXI=n
CONFIG_USE_BOOTARGS=y
CONFIG_HASH=n
CONFIG_SPL_BANNER_PRINT=n
CONFIG_BOOTM_PLAN9=n
CONFIG_BOOTM_NETBSD=n
CONFIG_BOOTM_RTEMS=n
CONFIG_BOOTM_VXWORKS=n
CONFIG_CMD_EXT2=n
CONFIG_EFI_PARTITION=n
CONFIG_SUNXI_GPIO=n
CONFIG_DM_ETH=n
CONFIG_NETDEVICES=n
CONFIG_USB_STORAGE=n
CONFIG_USB_KEYBOARD=n
CONFIG_PRINTF=n
CONFIG_SPL_PRINTF=n
CONFIG_SPRINTF=n
CONFIG_SPL_SPRINTF=n
CONFIG_STRTO=n
CONFIG_SPL_STRTO=n
CONFIG_SPL_USE_TINY_PRINTF=n
CONFIG_REGEX=n
CONFIG_NET=n
